<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>793457922959-qka3b934gjskoesvb5qpa57qjl7968ei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793457922959-qka3b934gjskoesvb5qpa57qjl7968ei</string>
	<key>API_KEY</key>
	<string>AIzaSyBBJiHMgrUXPJHyrce3ypvvUwHMz6IGmLI</string>
	<key>GCM_SENDER_ID</key>
	<string>793457922959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.DBProject</string>
	<key>PROJECT_ID</key>
	<string>dbproject-11048</string>
	<key>STORAGE_BUCKET</key>
	<string>dbproject-11048.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793457922959:ios:e0bf685bcbd38c96</string>
	<key>DATABASE_URL</key>
	<string>https://dbproject-11048.firebaseio.com</string>
</dict>
</plist>